<%= render(CardComponent.new(link: @link)) do %>
  <div class="flex flex-col gap-5">
    <div class="relative">
      <%= image_tag(@image, class: "object-cover h-40 w-full rounded-md") %>
      <div class="absolute right-3 top-3">
        <%= render(TagComponent.new(label: "Nieuws", icon: "newspaper")) %>
      </div>
    </div>
    <div>
      <div class="mb-2">
        <%= render(SubtitleComponent.new(title: @title, level: 2)) %>
      </div>
      <p><%= content.truncate(120, separator: " ") %></p>
    </div>
    <div class="flex flex-row items-center gap-5">
      <%= render(AvatarComponent.new(image: @avatar)) %>
      <div class="flex flex-col grow">
        <p class="mb-0 line-clamp-1">
          <strong><%= @author %></strong>
        </p>
        <p class="mb-0 line-clamp-1"><%= @role %></p>
      </div>
      <%= inline_svg_tag "icons/solid/arrows/caret-right.svg",
      class: "w-4 h-4 group-hover:text-primary-400 group-focus:text-primary-400" %>
    </div>
  </div>
<% end %>
